# Implementation for String Indexer example

# Installing required packages
Needed for environments not Databricks

In [4]:
from IPython.display import clear_output

!pip install --upgrade pip
!pip install findspark
!pip install pyspark

clear_output(wait=False)

# Importing objects

In [5]:
import findspark, pyspark
from pyspark.sql import SparkSession
from pyspark import SparkFiles

# Global Settings
Needed for environments not Databricks

In [6]:
findspark.init()
spark = SparkSession.builder.getOrCreate()

# Reading data source

In [11]:
url = 'https://raw.githubusercontent.com/edsonlourenco/public_datasets/main/Churn.csv'
spark.sparkContext.addFile(url)
csv_churn = SparkFiles.get("Churn.csv")
df_churn = spark.read.csv(csv_churn, header=True, inferSchema=True, sep=';')

### Checking **data**

## Transform StringIndexer

### Importing **StringIndexer** class

In [8]:
from pyspark.ml.feature import StringIndexer

### Doing indexing

In [12]:
df_churn.show(truncate=False)

+-----------+---------+------+---+------+--------+-------------+---------+--------------+---------------+------+
|CreditScore|Geography|Gender|Age|Tenure|Balance |NumOfProducts|HasCrCard|IsActiveMember|EstimatedSalary|Exited|
+-----------+---------+------+---+------+--------+-------------+---------+--------------+---------------+------+
|619        |France   |Female|42 |2     |0       |1            |1        |1             |10134888       |1     |
|608        |Spain    |Female|41 |1     |8380786 |1            |0        |1             |11254258       |0     |
|502        |France   |Female|42 |8     |1596608 |3            |1        |0             |11393157       |1     |
|699        |France   |Female|39 |1     |0       |2            |0        |0             |9382663        |0     |
|850        |Spain    |Female|43 |2     |12551082|1            |1        |1             |790841         |0     |
|645        |Spain    |Male  |44 |8     |11375578|2            |1        |0             |14975671       |1     |
|822        |France   |Male  |50 |7     |0       |2            |1        |1             |100628         |0     |
|376        |Germany  |Female|29 |4     |11504674|4            |1        |0             |11934688       |1     |
|501        |France   |Male  |44 |4     |14205107|2            |0        |1             |749405         |0     |
|684        |France   |Male  |27 |2     |13460388|1            |1        |1             |7172573        |0     |
|528        |France   |Male  |31 |6     |10201672|2            |0        |0             |8018112        |0     |
|497        |Spain    |Male  |24 |3     |0       |2            |1        |0             |7639001        |0     |
|476        |France   |Female|34 |10    |0       |2            |1        |0             |2626098        |0     |
|549        |France   |Female|25 |5     |0       |2            |0        |0             |19085779       |0     |
|635        |Spain    |Female|35 |7     |0       |2            |1        |1             |6595165        |0     |
|616        |Germany  |Male  |45 |3     |14312941|2            |0        |1             |6432726        |0     |
|653        |Germany  |Male  |58 |1     |13260288|1            |1        |0             |509767         |1     |
|549        |Spain    |Female|24 |9     |0       |2            |1        |1             |1440641        |0     |
|587        |Spain    |Male  |45 |6     |0       |1            |0        |0             |15868481       |0     |
|726        |France   |Female|24 |6     |0       |2            |1        |1             |5472403        |0     |
+-----------+---------+------+---+------+--------+-------------+---------+--------------+---------------+------+
only showing top 20 rows

In [13]:
indice = StringIndexer(inputCol="Geography", outputCol="indice")
modelo = indice.fit(df_churn)
dadoscomindice = modelo.transform(df_churn)
dadoscomindice.select("Geography", "indice").show(10)

+---------+------+
|Geography|indice|
+---------+------+
|   France|   0.0|
|    Spain|   2.0|
|   France|   0.0|
|   France|   0.0|
|    Spain|   2.0|
|    Spain|   2.0|
|   France|   0.0|
|  Germany|   1.0|
|   France|   0.0|
|   France|   0.0|
+---------+------+
only showing top 10 rows